.choices {
    overflow: visible;
    width: 50px;
    height: 33px;

    &__inner {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &__item--selectable.is-highlighted {
        background-color: $accent !important;
        color: #fff;
    }

    &__item--selectable::after {
        content: none !important;
    }
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
    text-align: center;
}

.header {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 101px;
    }

    &__nav {
        display: flex;
        padding-right: 15px;
    }

    &__info {
        display: flex;
        gap: 45px;
        position: relative;
        z-index: 2;
    }

    &__tel {
        align-self: center;
        color: $primary;
    }
}

.logo {
    align-self: center;
    padding-right: 68px;
}

.burger-text {
    display: none;
}

.menu {
    &__list {
        display: flex;
        gap: 48px;
    }

    &__list-item {}

    &__list-link {
        color: $primary;
        padding: 0 7px;
        letter-spacing: 0.5px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $accent;
            height: 2px;
            width: 0;
            left: 0;
            bottom: -8px;
            transition: .3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.first-screen {
    position: relative;

    &__body {
        padding-top: 102px;
        width: 479px;
    }

    &__title {
        color: #3d3737;
        font-size: 66px;
        font-weight: 400;
        font-family: "DM Serif Display", serif;
        line-height: 60px;
        margin: 0;
        padding-bottom: 32px;
    }

    &__text {
        margin: 0;
        max-width: 382px;
        padding-bottom: 54px;
    }

    &__btn {
        margin-bottom: 203px;
    }

    &__bg {
        position: absolute;
        background-image: url(../images/first-screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 50%;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -1;
    }
}

.info {
    background-color: #F4F4F4;

    &__inner {
        padding: 71px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__title-wrap {
        margin-right: 382px;
        align-self: center;
    }

    &__title {
        margin: 0;
    }

    &__text {
        margin: 0 0 33px 0;
    }

    &__text-btn {
        display: none;
    }

    &__text-paragraph {
        margin: 0;
    }
}

.services {
    padding: 0 0 80px 0;

    &__block {
        padding-bottom: 84px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.services-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
    }

    &__photo {
        max-width: 110px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__title {
        text-transform: uppercase;
    }

    &__text {
        margin: 0;
        text-align: center;
    }
}

.gallery {
    background-color: #F4F4F4;

    &__title-wrap {
        padding-top: 78px;
    }

    &__buttons {
        display: flex;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        padding-right: 50px;
        margin-bottom: 28px;

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            color: $accent;
        }


    }

    &__btn-link {
        margin-left: auto;
        font-weight: 600;
    }

    &__btn-view-more {
        display: none;
        font-weight: inherit;
        text-decoration: underline;
        padding: 0;
    }

    &__inner {
        padding-bottom: 78px;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 30px;
        max-height: 840px;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out;

    }

    &__item {
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }

    &__item-img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease 0s;

        &:hover{
            transform: scale(1.1);
        }
    }

    &__hide-btn {
        display: none;
    }
}

.pricing {
    &__title-wrap {}
}

.pricing-box {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    gap: 82px;
    margin-bottom: 102px;

    p {
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    &__item {
        max-width: 270px;
        text-align: center;
        border-radius: 10px;
        border: 2px solid $accent;
        display: flex;
        flex-direction: column;
        min-height: 448px;
        align-items: center;
        width: 100%;
        padding: 32px;
        cursor: pointer;

        &:hover {
            background-color: $accent;
            color: #fff;

            .pricing-box__btn {
                background: #FFF;
                color: $primary;
            }
        }
    }

    &__subtitle {
        font-size: 24px;
        padding-bottom: 30px;
    }

    &__price {
        padding-bottom: 27px;
    }

    &__num {
        font-size: 44px;
        padding-bottom: 7px;
    }

    &__subtext {
        font-size: 18px;
    }

    &__text {
        padding: 0 21px;
        position: relative;
        padding-top: 24px;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: #DCD1BB;
        }

        &--ua {
            padding: 24px 17px 0;
        }
    }

    &__btn {
        margin-top: auto;
        font-weight: 600;
    }
}

.reviews {
    background-color: #F4F4F4;
    padding-bottom: 60px;

    &__title-wrap {}

    &__pagination {
        position: static;
        margin-top: 40px;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background-color: #DFDFDF;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: $accent;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.reviews-box {
    display: flex;

    &__item {
        max-width: 570px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #DCD1BB;
            top: 141px;
            right: 0;
            left: 0;
        }
    }

    &__person {}

    &__wrap {
        display: flex;
        margin: 36px 0 0 91px;
    }

    &__img {
        max-width: 172px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
    }

    &__name-wrap {
        margin-left: 35px;
        margin-top: 31px;
        position: relative;
        z-index: 3;
    }

    &__name {
        font-size: 20px;
        font-weight: 500;
    }

    &__position {
        color: $secondary;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 42px;
    }

    &__icons {}

    &__icon {}

    &__text {
        margin-left: 100px;
        margin-bottom: 36px;
        margin-top: 30px;
        max-width: 400px;
        margin-right: 15px;
    }
}


.icon-box {
    &__item {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
}

.call-back {
    margin: 73px 0;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 770px;
        margin: 0 auto;
    }

    &__title-wrap {}

    &__btn {}
}


.footer {
    background-color: #F4F4F4;

    &__inner {
        margin: 84px 0;
        display: flex;
        justify-content: space-between;
    }

    &__about {
        max-width: 300px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__logo {
        margin-bottom: 75px;
    }

    &__text {
        margin: 0;
        margin-bottom: 90px;
    }

    &__credits {
        margin: 0;
        line-height: 24px;
        margin-top: auto;
    }

    &__navigation {
        max-width: 104px;
        display: flex;
        flex-direction: column;
    }

    &__nav-title {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 24px;
    }

    &__menu-items {
        margin-bottom: 51px;
    }

    &__menu-item {
        color: $primary;
        font-size: 14px;
        padding-bottom: 20px;
        display: block;
        line-height: normal;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__icons {
        margin-top: auto;
        display: flex;
        padding: 5px 0;
    }

    &__icon {}

    &__contacts {
        max-width: 270px;
        display: flex;
        flex-direction: column;
    }

    &__contacts-title {
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__contacts-block {
        margin-bottom: 48px;

        &:last-child {
            margin-bottom: 0;
            margin-top: auto;
        }
    }

    &__contact-title {
        margin: 0;
        color: #878787;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 14px;
    }

    &__contact-text {
        margin: 0;
        line-height: 21px;
    }
}