.choices {
    overflow: visible;
    width: 50px;
    height: 33px;

    &__inner {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &__item--selectable.is-highlighted {
        background-color: $accent !important;
        color: #fff;
    }

    &__item--selectable::after {
        content: none !important;
    }
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
    text-align: center;
}

.header {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 101px;
    }

    &__nav {
        display: flex;
        padding-right: 15px;
    }

    &__info {
        display: flex;
        gap: 45px;
        position: relative;
        z-index: 2;
    }

    &__tel {
        align-self: center;
        color: $primary;
    }
}

.logo {
    align-self: center;
    padding-right: 68px;
}

.menu {
    &__list {
        display: flex;
        gap: 48px;
    }

    &__list-item {}

    &__list-link {
        color: $primary;
    }
}

.first-screen {
    position: relative;

    &__body {
        padding-top: 102px;
        width: 479px;
    }

    &__title {
        color: #3d3737;
        font-size: 66px;
        font-weight: 400;
        font-family: "DM Serif Display", serif;
        line-height: 60px;
        margin: 0;
        padding-bottom: 32px;
    }

    &__text {
        margin: 0;
        width: 382px;
        padding-bottom: 54px;
    }

    &__btn {
        margin-bottom: 203px;
    }

    &__bg {
        position: absolute;
        background-image: url(../images/first-screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 50%;
        top: 0;
        right: 0;
        height: 100%;
    }
}

.info {
    background-color: #F4F4F4;

    &__inner {
        padding: 71px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__title-wrap {
        margin-right: 382px;
        align-self: center;
    }

    &__title {
        margin: 0;
    }

    &__text {
        margin: 0;

        &:first-child {
            margin-bottom: 33px;
        }
    }
}

.services {
    padding: 80px 0;

    &__block {
        padding-bottom: 84px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.services-list {
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
    }

    &__photo {
        width: 110px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {}

    &__title {}

    &__text {
        margin: 0;
        text-align: center;
    }
}

.gallery {
    background-color: #F4F4F4;

    &__title-wrap {
        padding-top: 78px;
    }

    &__buttons {
        display: flex;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        padding-right: 50px;
        margin-bottom: 28px;

        &:hover {
            color: $accent;
        }


    }

    &__btn-link {
        margin-left: auto;
        font-weight: 600;
    }

    &__btn-view-more {
        font-weight: inherit;
        text-decoration: underline;
        padding: 0;
    }

    &__inner {
        padding-bottom: 78px;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 30px;

    }

    &__item {
        display: block;
        overflow: hidden;
        border-radius: 10px;

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease 0s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}

.pricing {
    &__title-wrap {}
}

.pricing-box {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    gap: 82px;
    margin-bottom: 102px;

    p {
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    &__item {
        max-width: 270px;
        text-align: center;
        border-radius: 10px;
        border: 2px solid $accent;
        display: flex;
        flex-direction: column;
        min-height: 448px;
        align-items: center;
        width: 100%;
        padding: 32px;
        cursor: pointer;

        &:hover {
            background-color: $accent;
            color: #fff;

            .pricing-box__btn {
                background: #FFF;
                color: $primary;
            }
        }
    }

    &__subtitle {
        font-size: 24px;
        padding-bottom: 30px;
    }

    &__price {
        padding-bottom: 27px;
    }

    &__num {
        font-size: 44px;
        padding-bottom: 7px;
    }

    &__subtext {
        font-size: 18px;
    }

    &__text {
        padding: 0 24px;
        position: relative;
        padding-top: 24px;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: #DCD1BB;
        }
    }

    &__btn {
        margin-top: auto;
        font-weight: 600;
    }
}

.reviews {
    background-color: #DFDFDF;

    &__title-wrap {
    }

    &__pagination {
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.reviews-box {
    display: flex;

    &__item {
        max-width: 570px;
    }

    &__person{
        
    }

    &__wrap {
        display: flex;
    }

    &__img {
    }

    &__name-wrap {
    }

    &__name {
    }

    &__position {
    }

    &__icons {
    }

    &__icon {
    }

    &__text {
    }
}

