@media (max-width: 1170px) {
    .reviews-box {
        &__text {
            margin-left: 50px;
        }

        &__wrap {
            margin-left: 50px;
        }

        &__img {
            max-width: 136px;
        }
    }
}

@media (max-width: 1040px) {
    .pricing-box {
        gap: 50px;
    }
}

@media (max-width: 990px) {
    .reviews-box {
        &__text {
            margin-left: 30px;
        }

        &__wrap {
            margin-left: 30px;
        }
    }

    .swiper {
        max-width: 570px;
    }
}

@media (max-width: 950px) {
    .services-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .pricing-box {
        flex-direction: column;
        align-items: center;

        &__price {
            display: flex;
            gap: 13px;
        }

        &__subtext {
            align-self: flex-end;
            color: #bbb;
        }

        .pricing-box__item {
            &:hover {
                .pricing-box__subtext {
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .first-screen {
        &__body {
            padding-top: 70px;
        }

        &__title {
            font-size: 55px;
            line-height: 50px;
        }
    }

    .info {
        &__title-wrap {
            margin-right: 310px;
        }
    }
}

@media (max-width: 840px) {
    .menu,
    .header__info {
        display: none;
    }

    .header__nav {
        width: 100%;
        justify-content: space-between;
        padding-right: 0;
    }

    .burger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;

        &__item {
            height: 2px;
            width: 34px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222222;
            transition: all 0.5s;

            &:nth-of-type(2) {
                top: calc(50% - 5px);
                left: 30px;
            }

            &:nth-of-type(3) {
                top: calc(50% + 5px);
                left: -3px;
            }
        }
    }

    .burger-menu--open .burger-menu__item:nth-of-type(1) {
        width: 0;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        left: 50%;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
        left: 50%;
    }

    .burger-text {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #d7c9c0;
        transform: translateX(-100%);
        transition: transform 0.5s;

        &__list-link {
            color: #333;
        }
    }

    .burger-text--open {
        transform: translateX(0);
        display: flex;
        justify-content: center;
        align-items: center;

        .burger-text__list {
            font-size: 35px;
            line-height: 1.2;
            font-weight: 600;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .burger-text__list-item a {
            color: #333;
        }

        .choices {
            line-height: 27px;
            font-size: 35px;
            position: absolute;
            top: 31px;
            left: 20px;
        }
    }

    .info {
        &__inner {
            display: block;
        }

        &__title-wrap {
            margin-right: 0;
            margin-bottom: 28px;
        }

        &__text {
            margin-bottom: 20px;
        }
    }

    .footer {
        &__inner {
            margin: 60px 15px 35px;
        }

        &__nav-title,
        &__menu-items,
        &__text {
            display: none;
        }

        &__logo {
            margin-bottom: 67px;
        }

        &__contacts-block,
        &__contacts-title {
            margin-bottom: 35px;
        }

        &__contacts-block:last-child {
            margin-bottom: 70px;
        }

        .footer__icons {
            margin-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .first-screen {
        &__body {
            padding-top: 30px;
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
        }

        &__bg {
            width: 100%;
            position: static;
            aspect-ratio: 1.62;
        }

        &__btn {
            margin-bottom: 90px;
            width: 100%;
        }
    }

    .gallery {
        &__title-wrap {
            padding-top: 60px;
        }

        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .title--center {
        padding-bottom: 60px;
    }

    .call-back {
        margin: 60px 0;

        &__title-wrap {
            text-align: center;
            margin-left: 0;
        }

        &__wrap {
            flex-direction: column;
            gap: 35px;
        }

        &__btn {
            margin-right: 0;
        }
    }
}

@media (max-width: 560px) {
    .first-screen {
        &__btn {
            margin-bottom: 60px;
        }

        &__text {
            padding-bottom: 41px;
        }
    }

    .services {
        &__block {
            padding-bottom: 60px;
        }

        &__title--center {
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 36px;
        }
    }

    .services-list {
        grid-template-columns: repeat(1, 1fr);

        &__text {
            padding: 0 0 30px 0;
            border-bottom: 1px solid #dcd1bb;
        }
    }

    .title--center {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .gallery {
        &__btn {
            padding-right: 20px;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .pricing-box {
        margin-bottom: 60px;
        gap: 30px;

        &__item {
            padding-bottom: 0;
            min-height: 380px;

            &:hover {
                .pricing-box__btn {
                    background: $accent;
                    position: relative;
                    color: #fdfbf8;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 270px;
                        top: 0;
                        left: 0;
                        right: 0;
                        background-color: #fdfbf8;
                    }
                }
            }
        }

        &__btn {
            border: none;
            background-color: $accent;
            border-radius: 0 0 6px 6px;
            color: #fff;
            min-width: calc(100% + 64px);
            margin-top: 50px;
        }
    }

    .call-back {
        margin: 50px 0;

        &__title {
            display: flex;
            flex-direction: column;
        }

        &__btn {
            width: 64%;
        }
    }
}

@media (max-width: 490px) {
    .reviews-box {
        &__item::after {
            top: 115px;
        }

        &__name,
        &__position {
            font-size: 16px;
        }
        &__wrap {
            margin-top: 20px;
        }

        &__position {
            margin-bottom: 25px;
        }

        &__img {
            max-width: 117px;
            align-self: center;
        }

        &__name-wrap {
            margin-left: 15px;
        }

        &__text {
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }
}

@media (max-width: 450px) {
    .first-screen {
        &__title {
            font-size: 48px;
            line-height: 50px;
        }

        &__btn {
            margin-bottom: 32px;
            padding: 8px 34px;
        }
    }

    .info {
        &__inner {
            padding-bottom: 42px;
        }

        &__text-btn {
            display: block;
            border: none;
            font-size: 14px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            padding: 0 0 2px 0;
            border-bottom: 1px solid $accent;
            cursor: pointer;
        }

        &__text-paragraph {
            margin-bottom: 28px;
            display: none;

            &--hide {
                display: block;
            }
        }
    }

    .services {
        padding-bottom: 60px;

        &__title-wrap {
            display: block;
            text-align: center;
        }
    }

    .title {
        font-size: 32px;

        &--accent {
            font-size: 32px;
        }
    }

    .gallery {
        &__wrap {
            padding-bottom: 53px;
        }
        &__inner {
            padding-bottom: 13px;
            max-height: 840px;
        }

        &__items {
            gap: 15px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            border-radius: 0;
            margin: 0 -15px;
            height: 270px;
        }
        &__buttons {
            flex-wrap: wrap;
        }
        &__btn {
            font-size: 14px;
        }

        &__hide-btn {
            display: block;
            border: none;
            font-size: 14px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            padding: 0 0 2px 0;
            border-bottom: 1px solid $accent;
            cursor: pointer;
            text-align: center;
            margin: 40px auto 0;
        }
    }

    .reviews {
        padding-bottom: 50px;
    }
}

@media (max-width: 416px) {
    .reviews-box {
        &__item::after {
            content: none;
        }
    }
}

@media (max-width: 350px) {
    .reviews-box {
        &__text {
            margin-left: 20px;
        }

        &__wrap {
            margin-left: 20px;
        }
    }

    .footer{
        &__inner {
            position: relative;
        }

        &__icons {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__icon:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 320px) {
    .gallery {
        &__btn {
            padding-right: 10px;
            font-size: 12px;
        }
    }
}
