@media (max-width: 950px) {
    .services-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media (max-width: 930px) {
    .first-screen {
        &__body {
            padding-top: 70px;
        }

        &__title {
            font-size: 55px;
            line-height: 50px;
        }
    }

    .info {
        &__title-wrap {
            margin-right: 310px;
        }
    }
}

@media (max-width: 840px) {

    .menu,
    .header__info {
        display: none;
    }

    .header__nav {
        width: 100%;
        justify-content: space-between;
        padding-right: 0;
    }

    .burger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        &__item {
            height: 2px;
            width: 34px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222222;
            transition: all 0.5s;



            &:nth-of-type(2) {
                top: calc(50% - 5px);
                left: 30px;
            }

            &:nth-of-type(3) {
                top: calc(50% + 5px);
                left: -3px;
            }
        }
    }

    .burger-menu--open .burger-menu__item:nth-of-type(1) {
        width: 0;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        left: 50%;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
        left: 50%;
    }

    .burger-text {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #D7C9C0;
        transform: translateX(-100%);
        transition: transform 0.5s;


        &__list-link {
            color: #333;
        }
    }

    .burger-text--open {
        transform: translateX(0);
        display: flex;
        justify-content: center;
        align-items: center;


        .burger-text__list {
            font-size: 35px;
            line-height: 1.2;
            font-weight: 600;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .burger-text__list-item a {
            color: #333;
        }

        .choices {
            line-height: 27px;
            font-size: 35px;
            position: absolute;
            top: 31px;
            left: 20px;
        }
    }

    .info {

        &__inner {
            display: block;
        }

        &__title-wrap {
            margin-right: 0;
            margin-bottom: 28px;
        }

        &__text {
            margin-bottom: 20px;
        }



    }
}

@media (max-width: 768px) {
    .first-screen {
        &__body {
            padding-top: 30px;
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
        }

        &__bg {
            width: 100%;
            position: static;
            aspect-ratio: 1.62;
        }

        &__btn {
            margin-bottom: 90px;
            width: 100%;
        }
    }

    .gallery {
        &__title-wrap {
            padding-top: 60px;
        }

        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .title--center {
        padding-bottom: 60px;
    }
}

@media (max-width: 560px) {
    .first-screen {
        &__btn {
            margin-bottom: 60px;
        }

        &__text {
            padding-bottom: 41px;
        }
    }

    .services__block {
        padding-bottom: 60px;
    }

    .services-list {
        grid-template-columns: repeat(1, 1fr);

        &__text {
            padding: 0 0 30px 0;
            border-bottom: 1px solid #DCD1BB;
        }
    }

    .title--center {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .gallery {
        &__btn {
            padding-right: 40px;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 450px) {
    .first-screen {

        &__title {
            font-size: 48px;
            line-height: 50px;
        }

        &__btn {
            margin-bottom: 32px;
            padding: 8px 34px;
        }

    }

    .info {
        &__inner {
            padding-bottom: 42px;
        }

        &__text-btn {
            display: block;
            border: none;
            font-size: 14px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            padding: 0 0 2px 0;
            border-bottom: 1px solid $accent;
            cursor: pointer;
        }


        &__text-paragraph {
            margin-bottom: 28px;
            display: none;

            &--hide {
                display: block;
            }
        }
    }

    .services {
        padding-bottom: 60px;

        &__title-wrap {
            display: block;
            text-align: center;
        }
    }

    .title {
        font-size: 32px;

        &--accent {
            font-size: 32px;
        }
    }

    .gallery {
        &__items {
            gap: 15px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            border-radius: 0;
            margin: 0 -15px;
            height: 270px;
        }
    }
}

@media (max-width: 320px) {
    .gallery {
        &__btn {
            padding-right: 10px;
            font-size: 12px;
        }
    }

}