<header class="header">
        <div class="header__wrap">
            <div class="header__nav">
                <a class="logo" href="#">
                    <img src="images/logo.svg" alt="">
                </a>
                <div class="burger-menu">
                    <span class="burger-menu__item"></span>
                    <span class="burger-menu__item"></span>
                    <span class="burger-menu__item"></span>
                </div>

                <nav class="burger-text">
                    <ul class="burger-text__list">
                        <li class="burger-text__list-item">
                            <a class="burger-text__list-link" href="#">Services</a>
                        </li>
                        <li class="burger-text__list-item">
                            <a class="burger-text__list-link" href="#">Portfolio</a>
                        </li>
                        <li class="burger-text__list-item">
                            <a class="burger-text__list-link" href="#">Pricing</a>
                        </li>
                        <li class="burger-text__list-item"><a href="tel:3035550105" class="burger-text_tel">(303)
                                555-0105</a></li>
                        <li class="burger-text__list-item">
                            <select class="js-choice" name="mobile-choice" id="mobile-choice">
                            </select>
                        </li>
                    </ul>
                </nav>


                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Services</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Portfolio</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Pricing</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__info">
                <a href="tel:3035550105" class="header__tel">(303) 555-0105</a>
                <select class="js-choice" name="desktop-choice" id="desktop-choice">
                </select>
            </div>
        </div>
</header>