<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__nav">
                <a class="logo" href="#">
                    <img src="images/logo.svg" alt="">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="">Services</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="">Portfolio</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="">Pricing</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__info">
                <a href="tel:3035550105" class="header__tel">(303) 555-0105</a>
                <select class="js-choice" name="" id="">
                    <option value="Option-1" selected>EN</option>
                    <option value="Option-2">UA</option>
                </select>
            </div>
        </div>
    </div>
</header>